Repository litentry/litentry-parachain, pull requests merged in 2021-08, with the labels that each got.

#74 Add identity pallet
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: F5-enhancement, I4-urgent🔥🔥

#77 Benchmark support
  .gitignore
  .maintain/frame-weight-template.hbs
  Cargo.lock
  Makefile
  node/Cargo.toml
  node/src/cli.rs
  node/src/command.rs
  node/src/service.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  source/local.json
Labels: S5-seemsgood

#84 Adjust start parameters for integration test
  ts-tests/scripts/start-relay-and-para-chain.sh
Labels: F2-tests/benchmarks/ci, S1-pleasereview

#87 86 better handling cleanup
  .github/workflows/build_and_run_test.yml
  ts-tests/scripts/clean-up.sh
  ts-tests/scripts/constants.sh
  ts-tests/scripts/run-test.sh
  ts-tests/scripts/start-relay-and-para-chain.sh
  ts-tests/scripts/start-token-server.sh
Labels: I2-medium, F2-tests/benchmarks/ci, S1-pleasereview
